@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.stop-pairs {
  padding: 1rem;

  @include tablet {
    padding: 1rem 2rem;
  }

  &__back-btn {
    @include back-button;
  }

  &__title {
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 2rem;
      font-size: 2.5rem;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }

  &__item {
    cursor: pointer;
    border: 1px solid $neutral-dark;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: $site-medium;
    // transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;

    @include tablet {
      width: 45%;
    }

    &:hover {
      background-color: $accent-light;
    }

    &--selected {
      background-color: $accent-dark;
      color: $site-light;

      &:hover {
        background-color: $accent-dark;
      }
    }
  }

  &__info-box {
    padding-top: 1rem;
  }

  &__route-name {
    font-size: 0.8rem;
  }

  &__stop-name {
    color: $primary-dark;
    padding-top: 0.2rem;

    &--b {
      color: $secondary-dark;
    }
  }

  &__distance {
    font-weight: bold;
    padding-top: 2rem;
  }

  &__null-message {
    color: $error-colour;
    font-weight: 700;
  }

  &__button {
    @include get-button;
    margin-top: 2rem;
  }
}

//     &__item {
//       cursor: pointer;

//     &__button {
//       cursor: pointer;
//   }
