@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.stop-pairs {
  padding: 1rem;

  @include tablet {
    padding: 2rem 1rem;
  }

  &__back-btn {
    @include back-button;
  }

  &__prev-selection {
    border: 2px dashed $neutral-dark;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;

    @include tablet {
      // to display on lelft
      //
      display: inline-block;

      // to display center
      //
      // width: fit-content;
      // margin: 0 auto;
      // text-align: center;
      // display: flex; // Flexbox ensures centering
      // justify-content: center;
      // font-size: 1.25rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__title {
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 2rem;
      font-size: 2.5rem;
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  &__instruction {
    font-size: 1.1rem;
    border-left: 4px solid $neutral-dark;
    padding-left: 0.5rem;
    margin-bottom: 2rem;

    @include tablet {
      font-size: 1.25rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include tablet {
      gap: 2rem;
      padding-top: 1rem;
    }

    @include desktop {
      gap: 1rem;
    }
  }

  &__item {
    cursor: pointer;
    border: 1px solid $neutral-dark;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: $site-medium;
    // transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;

    @include tablet {
      width: calc(50% - 1rem);
    }
    @include desktop {
      // width: calc(25% - 1rem);
      width: calc(33.33% - 1rem);
    }

    &:hover {
      background-color: $accent-light;
    }

    &--selected {
      background-color: $accent-dark;
      color: $site-light;

      &:hover {
        background-color: $accent-dark;
      }
    }
  }

  &__info-box {
    padding-top: 1rem;
  }

  &__route-name {
    font-size: 0.8rem;

    @include tablet {
      font-size: 1rem;
    }

    @include desktop {
      font-size: 1.3rem;
    }
  }

  &__stop-name {
    color: $primary-dark;
    padding-top: 0.2rem;

    @include tablet {
      font-size: 1.1rem;
    }

    @include desktop {
      font-size: 1.4rem;
    }

    &--b {
      color: $secondary-dark;
    }
  }

  &__distance {
    font-weight: bold;
    padding-top: 2rem;
  }

  &__null-message {
    color: $error-colour;
    font-weight: 700;
    font-size: 1.35rem;

    @include tablet {
      font-size: 1.8rem;
    }

    @include desktop {
      font-size: 1.8rem;
    }
  }

  &__button {
    @include get-button;
    margin-top: 2rem;
  }
}

//     &__item {
//       cursor: pointer;

//     &__button {
//       cursor: pointer;
//   }
