@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// @mixin font($font-size, $font-weight, $line-height) {
//   font-size: $font-size;
//   font-weight: $font-weight;
//   line-height: $line-height;
// }

@mixin get-button {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 60%;
  margin-top: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  background-color: $accent-light;

  &:hover {
    background-color: $accent-dark;
    color: $site-light;
  }
}
