@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin get-button {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 60%;
  margin-top: 1rem;
  border: 2px solid $neutral-dark;
  cursor: pointer;
  transition: background 0.3s ease;
  background-color: $accent-light;

  @include tablet {
    width: 30%;
    font-size: 1.75rem;
  }

  @include desktop {
    width: 20%;
    font-size: 2rem;
  }

  &:hover {
    background-color: $accent-dark;
    color: $site-light;
  }
}

@mixin back-button {
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  background-color: $neutral-light;
  border: 2px solid $neutral-dark;
  color: $neutral-dark;

  &:hover {
    background-color: $neutral-dark;
    color: $neutral-light;
  }

  @include tablet {
    font-size: 1.25rem;
  }

  @include desktop {
    font-size: 1.5rem;
  }
}
