// colours

$primary-dark: darkblue;
$primary-medium: #2e66e5;
$primary-light: lightblue;

$secondary-dark: darkred;
$secondary-medium: red;
$secondary-light: lightpink;

$error-colour: #941616;

// screen breakpoints

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
