// colours

// user a
$primary-dark: #00008b; //dark blue
$primary-medium: #87cefa; // light sky blue
$primary-light: #e1efff; // soft pale blue

// user b
$secondary-dark: #005555; //dark teal
$secondary-medium: #00a7a7; // medium cyan
$secondary-light: #c5e7d6; // pale turquoise

// site colours
$site-dark: #06402b; // dark green
$site-medium: #f0f8ff; // alice blue
$site-light: #ffffff; // white

// accents
$accent-dark: #d87093; // pale violet red
$accent-medium: #fff0f5; // lavender blush
$accent-light: #ffefd5; // pale warm yellow

// neutral
$neutral-dark: #2b2b2b; // charcoal
$neutral-medium: #0056b3; // cobalt blue
$neutral-light: #e0e0e0; // soft grey

//error
$error-colour: #941616; // crimson

// screen breakpoints

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
