@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/keyframes" as *;

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0.5rem auto;
  padding: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

label {
  font-weight: 500;
}

input,
textarea {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.2s;
  font-family: "Gidole";
  color: $neutral-dark;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: $neutral-medium;
}

button {
  @include back-button;
}

p {
  text-align: center;
  font-weight: 700;
  color: $site-dark;
  margin-top: 2rem;
  font-size: 2rem;
}

.submit-btn {
  background-color: $neutral-medium;
  color: $site-light;

  &:hover {
    background-color: $accent-dark;
    color: $site-light;
  }
}
