@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/keyframes" as *;

.header {
  background-color: $site-dark;
  padding: 0.25rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;

  &__link {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  &__name {
    font-family: "Zain";
    font-size: 3rem;
    font-weight: 200;
    color: $site-light;
    position: absolute;
    left: 1.5rem;
  }

  &__feedback-link {
    background-color: $site-dark;
    height: fit-content;
    padding: 1rem;
    position:absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-weight: 700;
    border-radius: 1rem;
    border: 2px solid $site-light;
    color: $site-light;
    display: none;
    animation: fadeSwap 4s ease-in-out infinite;

    &:hover {
      background-color: $accent-dark;
      animation: none;
    }

    @include tablet {
      display: initial;
    }
  }
}
