@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/keyframes" as *;

.routes-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;

  @include tablet {
    flex-direction: row;
  }

  &__map-container {
    width: 100%;
    height: 30vh;
    z-index: 0;
    @include tablet {
      height: 100%;
      width: 60%;
      //  flex-grow: 1;
      // flex-basis: 60%;
    }
  }

  &__info-container {
    width: 100%;
    height: 70vh;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem 1rem 2rem;
    border-radius: 0 0.625rem 0.625rem 0;
    box-shadow: 0.125rem 0 0.625rem rgba(0, 0, 0, 0.2);
    border-radius: 0.625rem 0.625rem 0 0;
    overflow-y: auto;
    @include tablet {
      width: 40%;
      height: 100%;
      border-radius: 0 0.625rem 0.625rem 0;
    }
  }
  &__loading-message {
    padding: 1rem;

    @include loading-message;
  }
}
