@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.places {
  &__back-btn {
    margin: 1rem;
    @include back-button;
  }
}

.category {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: 2px dashed $neutral-dark;

  &__title {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
  }

  &__btn {
    background-color: #f4f4f4;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #ddd;
    }

    &:active {
      background-color: #bbb;
    }

    &--selected {
      background-color: #007bff;
      color: white;
      font-weight: bold;
    }
  }
}
