@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.address-form {
  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    padding: 2rem;
  }

  &__title {
    margin-bottom: 1rem;
    width: fit-content;
    padding: 0.3rem;
    text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);

    @include tablet {
      font-size: 2.5rem;
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  &__inputs-box {
    @include desktop {
      display: flex;
    }
  }

  &__box {
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    position: relative;

    @include desktop {
      width: 50%;
      padding-right: 3rem;
    }
  }

  &__label {
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
    font-family: "Gidole";
    color: $primary-dark;
    font-weight: 700;
    background-color: white;
    border-radius: 20px;
    width: fit-content;
    padding: 0.3rem;

    @include tablet {
      font-size: 1.5rem;
      background-color: initial;
      text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
    }

    @include desktop {
      font-size: 1.75rem;
      padding-bottom: 0.5rem;
    }

    &--user-b {
      color: $secondary-dark;
    }
  }

  &__input {
    padding: 1rem;
    width: 100%;
    border: 2px solid $primary-medium;
    border-radius: 20px;
    font-family: "Gidole";
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    color: $primary-dark;
    position: relative;
    z-index: 5;

    &--error {
      border: 2px solid $error-colour;
    }

    @include tablet {
      font-size: 1.25rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }

    &::placeholder {
      color: grey;
    }

    &:focus {
      border-color: $primary-dark;
    }

    &--user-b {
      color: $secondary-dark;

      &:focus {
        border-color: $secondary-dark;
      }
    }
  }

  &__error {
    color: $error-colour;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding-left: 0.5rem;

    @include tablet {
      font-size: 1.25rem;
    }

    @include desktop {
      margin-top: 0.7rem;
    }
  }

  &__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 50;
    list-style-type: none;
    padding: 0;
  }

  &__suggestion {
    padding: 1rem 8px;
    cursor: pointer;
    border-top: 1px solid $neutral-light;
    border-bottom: 1px solid $neutral-light;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__button {
    @include get-button;
  }
}
