@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.footer {
  background-color: $site-dark;
  padding: 2rem 0.5rem 1rem;

  &__flair {
    color: $site-light;
  }

  &__copyright {
    font-family: "Gidole";
    font-size: 1rem;
    color: $site-light;
  }
}
