@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.footer {
  background-color: $site-dark;
  padding: 1rem;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  &__flair {
    color: $site-light;
  }

  &__copyright {
    font-family: "Gidole";
    font-size: 1rem;
    color: $site-light;
    font-weight: 300;
    padding-bottom: 0.5rem;

    @include tablet {
      padding-bottom: 0;
    }
  }

  &__right {
    @include tablet {
      align-self: center;
    }
  }

  // &__donate-link {
  //   color: $site-light;
  //   font-weight: 700;
  // }
  /* Base button styles */
  
  &__donate-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem; /* Adjust padding */
    background-color: #f9a7c1; /* Base color */
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.75rem; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition */
    font-size: 1.125rem;
    font-weight: 600;
  }

  /* Hover effect */
  &__donate-link:hover {
    background-color: #f58c99; /* Slightly darker shade on hover */
    transform: scale(1.05); /* Button grows a little on hover */
  }

  /* Icon styling */
  &__donate-link-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem; /* Spacing between icon and text */
  }

  /* Text styling */
  &__donate-link-text {
    font-size: 1rem;
    font-weight: 600;
  }
}
