@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.footer {
  background-color: $site-dark;
  padding: 2rem 1rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &__flair {
    color: $site-light;
  }

  &__copyright {
    font-family: "Gidole";
    font-size: 1rem;
    color: $site-light;
    font-weight: 300;

    @include tablet {
      padding-bottom: 0;
    }
  }

  &__right {
    padding-bottom: 2.5rem;
  }

  &__feedback-link {
    background-color: $site-dark;
    height: fit-content;
    padding: 1rem;
    font-weight: 700;
    border-radius: 1rem;
    border: 2px solid $site-light;
    color: $site-light;
    animation: fadeSwap 4s ease-in-out infinite;

    &:hover {
      background-color: $accent-dark;
      animation: none;
    }

    @include tablet {
      position: absolute;
      top: 0.8rem;
      right: 1.5rem;
    }
  }
}
