@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.routes {
  padding: 1rem;

  @include desktop {
    padding: 2rem 7rem;
  }

  &__back-btn {
    @include back-button;
  }

  &__prev-selection {
    border: 2px dashed $neutral-dark;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;

    & > * {
      font-weight: 400; // Change this to any desired color
      padding-top: 0.3rem;
    }

    @include tablet {
      width: fit-content;
      margin: 0 auto;
      text-align: center;
      display: flex; // Flexbox ensures centering
      flex-direction: column;
      justify-content: center;
      font-size: 1.25rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__title {
    padding-bottom: 1rem;

    @include tablet {
      font-size: 2.5rem;
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  &__lists {
    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: 0;
      flex: 1;
    }
  }

  &__button {
    @include get-button;
  }
}

.routes-list {
  list-style-type: none;
  padding: 0.6rem;
  margin: 1rem 0;
  border-radius: 1rem;

  @include tablet {
    width: 50%;
    padding: 1rem;
  }

  &__title {
    color: $primary-dark;
    font-weight: 700;
    font-size: 1.5625rem;
    text-transform: capitalize;
    padding: 0.3rem 0.3rem 1rem;

    @include desktop {
      font-size: 1.75rem;
    }

    &--b {
      color: $secondary-dark;
    }
  }

  &--a {
    background-color: rgba(225, 239, 255, 0.5);

    @include tablet {
      margin-right: 1rem;
    }
  }

  &--b {
    background-color: rgba(197, 231, 214, 0.5);
    @include tablet {
      margin-left: 1rem;
    }
  }

  &__item {
    margin-bottom: 10px;
    padding: 1rem 0.8rem;
    border: 2px solid $primary-dark;
    border-radius: 2rem;
    cursor: pointer;
    // transition: background-color 0.3s, border-color 0.3s;
    background-color: $primary-light;

    &:hover {
      background-color: $accent-light;
    }

    &--b {
      background-color: $secondary-light;
      border-color: $secondary-dark;
    }

    &--selected {
      background-color: $accent-dark;

      color: $site-light;

      &:hover {
        background-color: $accent-dark;
      }
    }
  }

  &__route-name {
    font-weight: 700;
    font-size: 1rem;

    @include tablet {
      font-size: 1.15rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__stop-name {
    font-size: 0.85rem;
    padding: 0.2rem 0 0.5rem;

    @include tablet {
      font-size: 0.95rem;
    }

    @include desktop {
      font-size: 1.15rem;
    }
  }

  &__distance {
    @include desktop {
      font-size: 1.3rem;
    }
  }
}
