@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.places {
  padding: 1rem;

  @include tablet {
    padding: 2rem 1rem;
  }

  // &__back-btn {
  //   @include back-button;
  // }

  &__title {
    padding-bottom: 1rem;
    text-transform: capitalize;

    @include tablet {
      padding-bottom: 2rem;
      font-size: 2.5rem;
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include tablet {
      gap: 2rem;
    }

    @include desktop {
      gap: 1rem;
    }
  }

  &__item {
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
    background-color: $accent-medium;

    @include tablet {
      width: calc(50% - 1rem);
    }
    @include desktop {
      width: calc(33.33% - 1rem);
    }
  }

  &__null-message {
    color: $error-colour;
    font-weight: 700;
    font-size: 1.35rem;

    @include tablet {
      font-size: 1.8rem;
    }

    @include desktop {
      font-size: 1.8rem;
    }
  }
}
