@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.places {
    padding: 4rem 1rem;
    background-color: blanchedalmond;


    &__title {
        color: darkblue;
    }

    &__list {
        // border: 2px solid darkgoldenrod;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        // padding: 1rem;
    }

    &__item {
        border: 2px solid darkred;
        width: 100%;
        padding: 1rem;
    }

    &__name {
        color: darkcyan;
    }

    &__type {
        color: darkorchid;
    }

    &__address {
        color: saddlebrown;
    }

    &__null-message {
        color: red;
    }
}