@use "./styles/partials/typography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gidole";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__pages {
    flex: 1;
  }
}
